$container-width: 1100px;
$content-width: 900px;

html,
body {
  min-height: 100vh;
  line-height: 1.5em;
  background-color: #fff;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: $container-width;
  margin: 0px auto;
  padding: 0 15px;
  /*border: 1px solid red;*/
}
.sidebar {
  width: $container-width - $content-width;
  margin-right: 15px;
  /*border: 1px solid blue;*/
}
.content {
  width: $content-width;
  /*border: 1px solid blue;*/
}

/* Заголовки */
.title {
  font-size: 32px;
}

/* Текст */
.text_gray {
  color: #777;
}
.text_small {
  font-size: 12px;
}

/* Списки */
.list__title {
  width: 100%;
  padding: 10px 5px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  color: #fefefe;
  background-color: #23374d;
  /*a:hover {
    color: #89c6af;
  }*/
}
.list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 15px 30px;
  background: #f6f6f6;
  &:nth-child(odd) {
    background: #eee;
  }
}

/* Ссылки */
a,
.link {
  color: #1f9b80;
  /*color: #019991;*/
  transition: all ease 0.3s;
  &:hover {
    color: #5bc4ad;
    /*color: #5ec0bb;*/
  }
}

/* кнопки */
.btn, .btn_blue, .btn_green, .btn_orange, .btn_red, .btn_ghost {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  outline: 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  &:hover {
    color: white;
    transition: all 0.4s ease;
  }
  &:disabled {
    cursor: default;
    &:hover {
      cursor: default;
      color: white;
    }
  }
}
.btn_blue {
  background: #263959;
  &:hover:not(:disabled) {
    background: #1d2b43;
  }
}
.btn_green {
  background: #57AD8D;
  &:hover:not(:disabled) {
    background: #4e9c7f;
  }
}
.btn_orange {
  /*background: #ffaf6e;*/
  /*background: #ffc494;*/
  background: #ffb579;
  &:hover:not(:disabled) {
    background: #ff9d4e;
  }
}
.btn_red {
  background: #C82543;
  &:hover:not(:disabled) {
    background: #b4213c;
  }
}
.btn_ghost {
  flex-grow: 0;
  &:hover:not(:disabled) {
    background-color: rgba(150, 150, 150, 0.31);
  }
}
.btn_small {
  padding: 5px 15px;
  font-size: 14px;
  letter-spacing: normal;
}

/* Аватар */
$avatar: 50px;
$avatar-xlarge: 200px;
$avatar-large: 95px;
$avatar-small: 35px;
.avatar {
  width: $avatar;
  max-width: $avatar;
  height: $avatar;
  max-height: $avatar;
  border-radius: 50%;
}
.avatar_xlarge {
  width: $avatar-xlarge;
  max-width: $avatar-xlarge;
  height: $avatar-xlarge;
  max-height: $avatar-xlarge;
  border-radius: 50%;
}
.avatar_large {
  width: $avatar-large;
  max-width: $avatar-large;
  height: $avatar-large;
  max-height: $avatar-large;
  border-radius: 50%;
}
.avatar_small {
  width: $avatar-small;
  max-width: $avatar-small;
  height: $avatar-small;
  max-height: $avatar-small;
  border-radius: 50%;
}

/* Формы */
textarea {
  resize: none;
}

/* Адаптив */
@media (max-width: 820px) {
  .desktop-only, .navbar-user {
    display: none;
  }
}

/*
@media (max-width: 820px) {
    .desktop-only, .forum-list .forum-listing .threads-count, .forum-list .forum-listing .last-thread, .forum-stats, .thread-list .thread .activity, .navbar-user {
        display: none;
    }
}

@media (min-width: 820px) {
    .mobile-only, .navbar-mobile-item {
        display: none;
    }
}

@media (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 820px) {
    .hide-tablet {
        display: none;
    }
}

@media (max-width: 720px) {
    .hide-desktop {
        display: none;
    }
}
*/